.container {
    width: 1150px;
    margin: 0 auto;
}

header {
    background: url(../images/bg-greeting-page.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.header-nav-bar {
    display: flex;
    align-items: center;
    height: 120px;
    background: rgba(0, 0, 0, 0.4);
}

.logo-text {
    display: flex;
    flex-direction: row;
}

.logo-text-nav-position {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-nav-bar a {
    text-decoration: none;
}

.logo-text-first-part {
    margin-left: 10px;
    font-family: Montserrat;
    font-size: 32px;
    line-height: 64.3px;
    color: #ffffff;
    font-weight: 400;
}

.logo-text-second-part {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 64.3px;
    color: #18cfab;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    width: 640px;
    justify-content: space-between;
}

nav a {
    color: #b8b8b8;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
}

nav a:hover {
    color: #18cfab;
}

h1 {
    padding-top: 245px;
    padding-bottom: 45px;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
    line-height: 9.53px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.title-color-text {
    color: #18cfab;
}

.greeting-text {
    padding-bottom: 37px;
    color: #fff;
    font-family: Montserrat;
    font-size: 79px;
    font-weight: 700;
    line-height: 84.24px;
    text-transform: uppercase;
    text-align: center;
}

.description-title-text {
    padding-bottom: 145px;
    color: #d4d4d4;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 300;
    line-height: 84.24px;
    text-align: center;
}

.btn-explore-purchase {
    padding-bottom: 245px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.explore-btn,
.purchase-btn {
    width: 166px;
    height: 61px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 31.83px;
    text-transform: uppercase;
    box-shadow: 0px -4px 0px 0px rgba(255, 255, 255, 1);
}


.purchase-btn:hover {
    opacity: 0.8;
}

.explore-btn:hover {
    opacity: 0.8;
}

.explore-btn {
    margin-right: 14px;
    background-color: #18cfab;
}

.purchase-btn {
    margin-left: 14px;
    background-color: #00cbf6;
}

.options-box {
    display: flex;
    flex-direction: column;
}

.hr-options,
.options {
    display: flex;
    flex-flow: row nowrap;
}

.hr-options-first {
    width: 25%;
    height: 7px;
    background-color: #18cfab;
}

.hr-options-second {
    width: 25%;
    height: 7px;
    background-color: #fff;
}

.bg-option-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 250px;
    background-color: #1c2a33;
    color: #18cfab;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.bg-option-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 250px;
    background-color: #18cfab;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-description {
    padding-top: 85px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-description h3 {
    padding-bottom: 37px;
    color: #4e4e4e;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

.btn-service {
    display: flex;
    justify-content: center;
}

.tab {
    margin-bottom: 25px;
    width: 192px;
    height: 73px;
    background-color: #f8fcfe;
    border: 1px solid #aaa;
    color: #717171;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 39.02px;
    border-right: none;
    cursor: pointer;
}

.tab:last-child {
    border-right: 1px solid #aaa;
}

.tabContent {
    width: 1140px;
    height: 250px;
}

.tabContent p {
    float: right;
    width: 927px;
    color: #777;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.39px;
}

.active {
    background-color: #18cfab;
    color: #fff;
}

#tabs .hide {
    display: none;
}

#tabs .show {
    display: block;
}

.purchase {
    background: url(../images/bg-purchase.jpg);
    background-size: cover;
    height: 474px;
}

.purchase-title {
    padding-top: 125px;
    padding-bottom: 35px;
    color: #18cfab;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 40.46px;
    text-transform: uppercase;
    text-align: center;
}

.purchase-description {
    padding-bottom: 80px;
    color: #d8d8d8;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.purchase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* */

.portfolio-filter {
    background-color: #f8fcfe;
    padding-bottom: 100px;
}

.portfolio-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 70px;
}

.filter-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.new-p {
    height: 58px;
    padding: 0 30px 0 30px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    color: #565656;
    background-color: #fff;
    border: 1px solid #717171;
    border-right: none;
    cursor: pointer
}

.new-p:last-child {
    border-right: 1px solid #717171;
}

.filter-btn p {
    border-bottom: 1px #ccc dotted;
    text-decoration: none;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
    display: block;
    float: left;
}

.filter-btn p:hover {
    cursor: pointer;
    background: #333;
    color: #eee;
}

.tile {
    position: relative;
}

.tile:hover {
    opacity: 0.5;
}

.btn-load-more-portfolio {
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-load-more-portfolio:hover {
    opacity: 0.8;
}

.btn-load-more-position {
    display: flex;
    justify-content: center;
}

.news-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.news-section a {
    text-decoration: none;
    margin-bottom: 45px;
}

.block-news {
    display: flex;
    flex-direction: column;
}

.img-block-news {
    display: inline-block;
    position: relative;
}

.date-news {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 68px;
    height: 56px;
    background-color: #203e38;
    color: #fff;
    padding-top: 10px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.33px;
    text-align: center;
}

.description-news {
    background-color: #f8fcfe;
}

.title-news {
    margin: 13px;
    color: #717171;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

.author-comments {
    margin-left: 13px;
    margin-bottom: 13px;
    color: #777;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
}

.news-hover:hover .title-news {
    color: #18cfab;
}

.news-hover:hover .date-news {
    background-color: #18cfab;
}
